@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        <h1>Hello Queensland!</h1>
        <p>Welcome to your new web application, built with:</p>
        <ul>
            <li><a href='https://get.asp.net/'>ASP.NET Framework 4.7.2</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> using MVC architecture</li>
            <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
            <li><a href='https://www.nuget.org/packages/Newtonsoft.Json/'>Newtonsoft.Json</a> for converting objects to and from JSON</li>
        </ul>
        <p>This web application will display lottery draw and jackpot information for various lottery companies ordered by their draw dates. Please click on the respective <em>company</em> tab to view the information (i.e. Tattersalls, Golden Casket and so on). </p>
    </div>
</div>